:root{
    --nav-color:white;
    --background:rgb(245, 245, 245);
    --sub-btn:rgb(255, 15, 15);
    font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}


.container{
    border: 1px solid;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:   8vh 1fr 1fr 10vh 10vh 1fr 1fr 1fr 1fr 1fr ;
    


}
/* .............. navbar ............................. */
.navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px red solid; */
    width: 100vw;
    grid-column: 1/10;
    grid-row: 1/2;
   
    
}
.logo{
    display: flex;
    /* border: 1px red solid; */
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
    
}
.logo i{
    font-size: 25px;
    color: rgb(185, 185, 185);
}
.logo img{
    width: 90px;
}

.input{
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
justify-content: space-around;
    width: 35vw;

}
.input input{
    width: 30vw;
    height: 4vh;
}
.input i:nth-child(2){
    background-color: rgb(228, 228, 228);
    border: gray 1px solid;
    border: none;
    border-top: 1px gray solid;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
    padding: 7px 20px;
    margin-right: 15px;
}
.input i{
    font-size: 20px;
}


.logos{
    display: flex;
    align-items: center;
    /* border: 1px red solid; */
    width: 15vw;
    justify-content: space-around;
}
.logos img{
    width: 40px;
    border-radius: 50%;
}
.logos i{
    font-size: 20px;
}

/* ........................ side-bar .................... */


.side-bar{
    grid-area: side-bar;
    grid-column: 1/2;
    grid-row: 2/8;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 50px;
    align-items:center;
}

.side-bar i{
    margin-right: 10px;
}

/* ......................... main-img ..................... */
.main-img{
    grid-area: main-img;
grid-column: 2/10;
grid-row: 2/4;
background-image: url(/img/main-img.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: -9rem -31rem;
}
.main-img img{
    width: 100%;
    background-attachment: fixed;
}
/* ........................ youtuber-pro ...................... */
.youtuber-pro{
    grid-area: youtuber;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/10;
grid-row: 4/5;
margin-top: 20px;

}
.youtuber-pro img{
    width: 6vw;
    height: 9vh;
    border-radius: 50%;
}
.you-pro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px red solid ; */
    width: 16vw;
    margin-right: 10rem;
}
.youtuber-pro button{
   padding: 10px;
    background-color: var(--sub-btn);
    color: white;
    font-size: 20px;
    
}

/* ...................... list ..................... */


.list{
    grid-area: list;
    grid-column: 2/10;
    grid-row: 5/6;
    margin: 2rem 0px 0px 16rem;
    width: 50vw;
   

}
.list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    
    
}
.list ul li i{
    color: gray;
}



.video{
    grid-column:2/10 ;
    grid-row:6/7 ;
    background-color: var(--background);
    height: 40vh;
   
    
}
.video-one{
    display: flex;
    align-items: center;
}
.video-one>p{
    
    width: 20vw;
    line-height: 40px;
    margin-top: 45px;
    margin-left: 30px;
}
.video-one>p>a{
    color: blue;
}

.video-img{
    background-image: url(/img/video.jpg);
    width: 26vw;
    height: 30vh;
    background-position: -287px -95px;
   margin-left: 18rem;
   margin-top: 3rem;
}
.video hr{
    width: 70vw;
    margin-left: 10rem;
    margin-top: 2rem;
  
}

/* ......................... first row .................... */


.first-row{
    grid-area: first;
    grid-column:2/10 ;
    grid-row:7/10 ;
    background-color: var(--background);

}
.play-all{
    display: flex;
    border: 1px red solid;
    width: 20vw;

}
.play-all img{
    width: 2vw;
    height: 3vh;
    border-radius: 50%;
}
.second-row{
    grid-area: second;
}
.third-row{
    grid-area: third;
}
.fourth-row{
    grid-area: fourth;
}



