:root{
    --nav-color:white;
    --background:rgb(245, 245, 245);
    --sub-btn:rgb(255, 15, 15);
    font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s;
  
}
i{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(179, 179, 179);
}
li{
    list-style: none;
}
small{
    color: rgb(136, 136, 136);
}


.container{
   
    display: grid;
    grid-template-columns:13vw 17vw 70vw  ;
    grid-template-rows:   8vh 30vh 10vh 10vh 10vh 45vh 40vh 40vh 40vh   ;
    
    


}
/* .............. navbar ............................. */
.navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px red solid; */
    width: 100vw;
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: var(--nav-color);
    position: sticky;
    top: 0;
    z-index: 9;
}
.logo{
    display: flex;
    /* border: 1px red solid; */
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
    
}
.logo i{
    font-size: 25px;
    color: rgb(185, 185, 185);
}
.logo img{
    width: 90px;
}

.input{
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
justify-content: space-around;
    width: 35vw;

}
.input input{
    width: 30vw;
    height: 4vh;
    font-size: 20px;
    padding-left: 10px;
}
.input i:nth-child(2){
    background-color: rgb(228, 228, 228);
    border: gray 1px solid;
    border: none;
    border-top: 1px gray solid;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
    padding: 7px 20px;
    margin-right: 15px;
}
.input i{
    font-size: 20px;
}


.logos{
    display: flex;
    align-items: center;
    /* border: 1px red solid; */
    width: 15vw;
    justify-content: space-around;
}
.logos img{
    width: 40px;
    border-radius: 50%;
}
.logos i{
    font-size: 20px;
}

/* ........................ side-bar .................... */


.side-bar{
    grid-area: side-bar;
    grid-column: 1/2;
    grid-row: 2/8;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 50px;
    align-items:flex-start;
    margin-left: 1.4rem;

}

.side-bar i{
    margin-right: 10px;
}

/* ......................... main-img ..................... */
.main-img{
    grid-area: main-img;
grid-column: 2/4;
grid-row: 2/4;
background-image: url(../img/main-img.jpg);
background-repeat: no-repeat;
/* background-attachment: fixed; */
background-position: 0rem -28rem;
background-size: cover;
}

/* ........................ youtuber-pro ...................... */
.youtuber-pro{
    grid-area: youtuber;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 2/4;
grid-row: 4/5;
margin-top: 20px;



}
.youtuber-pro img{
    width: 6vw;
    height: 10vh;
    border-radius: 50%;
}
.you-pro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px red solid ; */
    width: 16vw;
    margin-right: 30rem;
}
.youtuber-pro button{
   padding: 10px;
    background-color: var(--sub-btn);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.youtuber-pro button:hover{
    opacity: 0.6;

 }

/* ...................... list ..................... */
.list{
    grid-column: 2/4;
    grid-row: 5/6;
    
    position: sticky;
    top: 2.7rem;
    z-index: 1;
    background-color: var(--nav-color);
}

.list1{
    grid-area: list;
   
    margin: 2rem 0px 0px 10rem;
    width: 50vw;
    
   

}
.list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    
    
}
.list ul li i{
    color: gray;
}

/* ........................ video .................... */

.video{
    grid-column:2/4 ;
    grid-row:6/7 ;
    background-color: var(--background);
    height: 50vh;
   
    
}
.video-one{
    display: flex;
    margin-left: 12rem;
    align-items: center;
    
  
}
.video-one>p{
    
    width: 20vw;
    line-height: 40px;
    /* margin-top: 10px; */
    margin-left: 30px;
}
.video-one>p>a{
    color: blue;
}
.video-img>img{
    width: 26vw;
    height: 30vh;
}
.video-img{
    position: relative;

}

/* .video-img{
    background-image: url(../img/video.jpg);
    width: 26vw;
    height: 30vh;
   
    background-position: center;
   margin-left: 12rem;
   margin-top: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
} */
.video-img>i{
    font-size: 100px;
    position: absolute;
    top: 5rem;
    left: 12rem;
    
    
}
.video-img>i:hover{
    opacity: 0.5;
    transform: scale(1.4);

    
    
}
.video hr{
    width: 70vw;
    margin-left: 10rem;
    margin-top: 2rem;
  
}

/* ......................... first row .................... */


.first-row{
    grid-area: first;
    grid-column:2/4 ;
    grid-row:7/8 ;
    background-color: var(--background);

}
.play-all{
    display: flex;
    width: 15vw;
   margin-left: 12rem;
    align-items: center;

}
.play-all> img{
    width: 2vw;
    height: 4vh;
    border-radius: 50%;
    margin-right: 0.6rem;
}
.play-all>i{
    margin-left: 2rem;
    margin-right: 0.6rem;
}
.first-row-imgs{
    display: flex;
width: 70vw;
margin-left: 11rem;
margin-top: 2rem;
justify-content: space-around;

}
.first-row-imgs>div>img{
width: 10vw;
height: 12vh;

}

.first-row-imgs>div>i{
    position: absolute;
    font-size: 3rem;
    top: 20%;
    left: 35%;
    color: white;
}
.first-row-imgs>div>i:hover{
    opacity: 0.5;
    transform: scale(1.4);
}
.first-row-imgs>div{
    position: relative;
    width: 10vw;
}
.first-row hr{
    width: 70vw;
    margin-left: 10rem;
    margin-top: 2rem;
}




/* ....................... second row ........................ */






.second-row{
    grid-area: second;
    grid-column:2/4 ;
    grid-row:8/9 ;
    background-color: var(--background);
}
.second-row p:nth-child(1){
    margin-left: 12rem;
    width: 10rem;
}
.second-row-imgs{
    display: flex;
width: 70vw;
margin-left: 11rem;
margin-top: 2rem;
justify-content: space-around;

}
.second-row-imgs>div>img{
width: 10vw;
height: 12vh;
}
.second-row-imgs>div>i{
    position: absolute;
    font-size: 3rem;
    top: 20%;
    left: 35%;
    color: white;
}
.second-row-imgs>div>i:hover{
    opacity: 0.5;
    transform: scale(1.4);

}
.second-row-imgs>div{
    position: relative;
    width: 10vw;
}
.second-row hr{
    width: 70vw;
    margin-left: 10rem;
    margin-top: 2rem;
}

/* ................... third row ........................... */

.third-row{
    grid-area: second;
    grid-column:2/4 ;
    grid-row:9/10 ;
    background-color: var(--background);
}
.third-row p:nth-child(1){
    margin-left: 12rem;
    width: 10rem;
}
.third-row-imgs{
    display: flex;
width: 70vw;
margin-left: 11rem;
margin-top: 2rem;
justify-content: space-around;

}
.third-row-imgs>div>img{
width: 10vw;
height: 12vh;
}
.third-row-imgs>div{
    width: 10vw;
    position: relative;
}
.third-row-imgs>div>i{
    position: absolute;
    font-size: 3rem;
    top: 20%;
    left: 35%;
    color: white;
}
.third-row-imgs>div>i:hover{
    opacity: 0.5;
    transform: scale(1.4);

}

/* .......................... Media query ...........
.....................................................
......................................................
.................................................
...................................................... */

@media only screen and (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.hamburger{
    display: flex;
    justify-content: space-around;
   flex-direction: column;
    width: 8vw;
    height: 30px;
    border: 1px black solid;
    align-items: center;
    grid-column:1/2 ;
    grid-row: 1/2;
margin-left: 1rem;
margin-top: 1.5rem;
position: relative;
z-index: 2;
}
.navbar{
    /* position: relative;
    z-index: -1; */
    grid-column: 2/4;
    width: 75vw;
    display: flex;
}

.logo>i{
    display: none;
}
.logos{
display: none;
}


.hamburger>div{
    background-color: black;
    width: 28px;
    height: 2px;
}
/* ............... side bar .................... */
.side-bar{
    position: relative;
    z-index: 1;
    grid-column: 1/4;
    font-size: 15px;
    margin-left: 10px;
    display: none;
}
/* ........................ main img .................... */
.main-img{
    background-position: 0rem 0rem;
    grid-column: 1/4;
}

.youtuber-pro{
    grid-column: 1/4;

display: flex;
justify-content: space-between;
    
}
.youtuber-pro img{
width: 80px;
height: 60px;
margin-right: 10px;

}
.you-pro{
    margin-right: 0rem;
}
/* ................ list ........................ */
.list{
    grid-column: 1/4;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.list1 {
    
  
   margin: 0px;
   width:100vw;
   height: 80px;
}
.list1 ul{
   
    display: flex;
    justify-content: space-around;
   height: 80px;    
}
/* .................. video ................... */
.video{
    grid-column: 1/4;
    grid-row:6/7 ;
}
.video-one{
    display: flex;
    justify-content: space-between;
    margin: 0;
    
height: 45vh;
}
.video-one>p{
  margin: 0;
    width: 60vw;
    font-size: 15px;
}
.video-img{
    position: relative;
   
}
.video-img>img{
    
    width: 35vw;
}
.video-img>i{
    display: none;
}

/* ....................... first row ............... */
.first-row{
    grid-column: 1/4;
}
.play-all{
    border: 1px red solid;
    width: 45vw;
    height: 7vh;
    margin-left: 10px;
}
.play-all>img{
    width: 10vw;
    height: 7vh;
}

.first-row-imgs{
    border: 1px red solid;
    margin: 10px auto;
    width: 100vw;
}
.first-row-imgs>div>i{
    display: none;
}
.first-row-imgs>div>p{
    font-size: 15px;
}
.first-row-imgs>div>img{
    height: 8vh;
}

/* .......................... second row  ...................... */

.second-row{
    grid-column: 1/4;
}
.second-row p:nth-child(1){
    border: 1px red solid;
  margin: 10px;
}


.second-row-imgs{
    border: 1px red solid;
    margin: 10px auto;
    width: 100vw;
}
.second-row-imgs>div>i{
    display: none;
}
.second-row-imgs>div>p{
    font-size: 15px;
}
.second-row-imgs>div>img{
    height: 8vh;
}

/* .................... third row ........................ */
.third-row{
    grid-column: 1/4;
}
.third-row p:nth-child(1){
    border: 1px red solid;
  margin: 10px;
}


.third-row-imgs{
    border: 1px red solid;
    margin: 10px auto;
    width: 100vw;
}
.third-row-imgs>div>i{
    display: none;
}
.third-row-imgs>div>p{
    font-size: 15px;
}
.third-row-imgs>div>img{
    height: 8vh;
}


}